body{
    min-height: 0 !important;
}
footer {
    background-color: #10b8af;
    width: 100%;
    bottom: 0;
    position: fixed;
    font-size: 0.7em;
    text-align: center;
    font-weight: bold;
    padding: 4px;
    z-index: 100;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 5px 5px;
    width: 100%;
}
.graph{
    max-width: 100%;
}
#container {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    margin-top: 35px;
}
.arrow-p{
  font-size: 30px !important;
  margin: 0px;
}
.left-btn{
  float:left;
}
.right-btn{
  float:right;
  padding-right: 15px;
}
.buttons{
    position: fixed;
    top: 0px;
    width: 100%;
}
#page-2{
    display: none;
}
.nz_ex_btn{
    margin: 0 5px !important;
}
.logo_img{
    text-align: center;
    margin: 20px 0;
}
#loading{
    display: none;
}
.nz_plus_btn{
    float:right;
    margin-right: 10px !important;
}
.nz_back_btn{
    float:left;
}
