.graph{
    max-width: 100%;
}
#container {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    margin-top: 35px;
}
.arrow-p{
  font-size: 30px !important;
  margin: 0px;
}
.left-btn{
  float:left;
}
.right-btn{
  float:right;
  padding-right: 15px;
}
.buttons{
    position: fixed;
    top: 0px;
    width: 100%;
}
#page-2{
    display: none;
}
